<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="HTTP">
        <classes>
            <class name="test.mantis.testcases.LoginTest" />
            <class name="test.mantis.testcases.RegistrationTest" />
        </classes>
    </test>
</suite>